<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>User Management System</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>User Management System</h1>
        <hr>
        <h2>Edit User</h2>

        <form action="#" th:action="@{/web/users/{id}(id=*{id})}" th:object="${user}">

            <div class="form-group">
                <label for="fullName" class="col-4">Full Name:</label>
                <div class="col-lg-8">
                    <input type="text" th:field="*{fullName}" class="form-control mb-4 col-4" id="fullName">
                </div>

                <label for="email" class="col-4">Email:</label>
                <div class="col-lg-8">
                    <input type="text" th:field="*{email}" class="form-control mb-4 col-4" id="email">
                </div>

                <label for="balance" class="col-4">Balance:</label>
                <div class="col-lg-8">
                    <input type="text" th:field="*{balance}" class="form-control mb-4 col-4" id="balance">
                </div>
            </div>

            <button type="submit" class="btn btn-info">Save</button>
            <a th:href = "@{/web/users}" class="btn btn-secondary">Back</a>
        </form>
        <hr>
    </div>
</body>
</html>